:root {
  --primary-color:   #132736;
  --secondary-color: #E4E8EC;
  --border-color:    #EBEEF5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  font-weight: 400;
  color: #303133;
  background: var(--secondary-color);
  -webkit-font-smoothing: antialiased;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
